<html>
    <head>
        <title>Ventib</title>
        <link href="/static/css/materialize.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/app.css" rel="stylesheet" />
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/Chart.min.js"></script>
        <script src='/static/js/base.js'></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDUfH2rcZMI650GRtspHhpzmM5pVIYmkdw"></script>
        <script src="/static/js/materialize.min.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
