<html>
    <head>
        <title>Ventib</title>
        <script src="/static/jquery/jquery.min.js"></script>
        <script src="/static/materialize/js/materialize.min.js"></script>
        <script src="/static/chart/Chart.min.js"></script>
        <link href="/static/materialize/css/materialize.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/app.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
