{% extends 'navbar.html' %}
{% block content %}
<h1>Welcome to Ventib</h1>
<h4>Your thoughts, centralized.</h4>
<p class="grey-text">Ventib has the capability of parsing your speech and generating valuable factoid statistics based on environmental factors and transcribed logs.
It also provides a search function, allowing users to sift through their past thoughts with ease. </p>
<br />
<div class="row"><a class="btn blue lighten-1 col s8 offset-s2" href="/rlog">Get Started</a></div>

{% endblock %}
