{% extends 'base.html' %}
{% set thispage = thispage|default('home')}
{% set links = [
    ('Home', 'home', '/')
] %}
{% block body %}
<nav class="green darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#">Ventib</a>
            <ul id="nav-mobile" class="right side-nav">
                {% for link in links %}
                    <a href="{{ link[2] }}"{% if thispage == link[1] %} class="active"{% endif %}>{{ link[0] }}</a>
                {% endfor %}
            </ul>
            <a class="button-collapse" href="#" data-activates="nav-mobile">
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
{% endblock %}
