{% extends 'base.html' %}
{% set thispage = thispage|default('home') %}
{% set links = [
    ('Home', 'home', '/', True),
    ('Login', 'login', '/login', True),
    ('Register', 'register', '/register', True)

] %}
{% block body %}
<nav class="green darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a class="brand-logo" href="#">Ventib</a>
            <ul id="nav-mobile" class="right side-nav">
                {% for link in links %}
                {% if link[3] %}
                <li{% if thispage == link[1] %} class="active"{% endif %}>
                    <a href="{{ link[2] }}">{{ link[0] }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <a class="button-collapse" href="#" data-activates="nav-mobile">
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
