{% extends 'navbar.html' %}
{% block content %}
<script>
$(function () {
    $("#confirmpassword").on('keyup', function () {
        var cpw = $("#confirmpassword").val();
        var pw = $("#password").val();
        if ( cpw !=  pw ) {
            $("#regbtn").prop("disabled", true);
            $("#error").html("Passwords don't match.");
        }
        else {
            $("#regbtn").prop("disabled", false);
            $("#error").html("");
        }
    });
    $("#password").on('keyup', function () {
        var cpw = $("#confirmpassword").val();
        var pw = $("#password").val();
        if ( cpw !=  pw ) {
            $("#regbtn").prop("disabled", true);
            $("#error").html("Passwords don't match.");
        }
        else {
            $("#regbtn").prop("disabled", false);
            $("#error").html("");
        }
    });
});

</script>
<div class="col s6">
    <h2>Login</h2>
    <form action="/login" method="POST">
        Username: <input type="text" name="username" /><br />
        Password: <input type="text" name="password" /><br />
        <input class="btn" type="submit" value="Login" />
    </form>
</div>
<div class="col s6">
    <h2>Register</h2>
    <form action="/register" id="regform" method="POST">
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" id="password" name="password" /><br />
        Confirm Password: <input type="password" id="confirmpassword" name="confirmpassword" /><br />
        <span id="error" class="red-text" style="font-weight: bold"></span><br />
        <input class="btn" id="regbtn" type="submit" value="Register" />
    </form>
<div>

</div>
{% endblock %}
