{% extends 'navbar.html' %}
{% set thispage='dashboard' %}
{% block content %}
<h2><span style="font-size: 40%" class="grey-text">Hello, </span><span class="darken-4 blue-text">{{ user.username }}</span></h2>

<h4>Text</h4>

<div class="row">
    <div class="col s10 m10">
        <div class="input-field">
            <input type="text" id="search" name="q" />
            <label for="search">Search term</label>
        </div>
    </div>
    <div class="col s2 m2">
        <button class="btn" onclick="search();">Search</button>
    </div>
</div>
<div id="search-result">
</div>
<h3>Stats</h3>
{% for i in chunks(stats, 3) %}
<div class="row">
    {% for stat in i %}
        {% if stat[0] == "Most common words" %}
            <div class="col s12 m4">
                <div class="card {{ stat[2] }}">
                    <div class="card-content white-text">
                        <span class="card-title">{{ stat[0] }}</span>
                        <table class="small" style="font-size:80%">
                           <thead>
                             <tr>
                                 <th data-field="word">Word</th>
                                 <th data-field="occurences">Occurences</th>
                             </tr>
                           </thead>

                           <tbody>
                             {% for cm_word in stat[1][:5] %}
                                <tr>
                                  <td>{{ cm_word[1] }}</td>
                                  <td>{{ cm_word[0] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col s12 m4">
                <div class="card {{ stat[2] }}">
                    <div class="card-content white-text">
                        <span class="card-title">{{ stat[0] }}</span>
                        <p>{{ stat[1] }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<h3>Graphs</h3>
<div class="row">
    <div class="col s12 m6">
        <canvas id="graph-times"></canvas>
    </div>
</div>
<script src="/static/rgeocode.js"></script>
<script>
    var ctx = $("#graph-times").get(0).getContext("2d");
    var times = new Chart(ctx);

    function enumRgc() {
        $(".loc").each(function() {
            var scoords = $(".loc").val();
            var rgcval = getLatLng(scoords);
            console.log(rgcval);
        });
    }
    function search() {
        var term = $("#search").val();
        $.getJSON('/api/search/', {q: term}, function(data) {
                $("#search-result").html(data.texts.join("<br />"));
        });
        enumRgc();
    }
    var times_data = {{ times_data|safe }};
    var times = new Chart(ctx).Bar(times_data);
</script>
{% endfor %}
{% endblock %}
